include CONTRIBUTING.md
include README.rst
include AUTHORS
include LICENSE
include docs/spelling_wordlist
recursive-include docs *.bat
recursive-include docs *.db
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-exclude docs/_build *
